@import "tailwindcss";

:root {
	--primary-color: #0878ff;
	--light-color: #ffffff;
	--dark-color: #071b42;
}

* {
	box-sizing: border-box;
	font-family: "Barlow", sans-serif;
}

@components {
	.text-dark {
		color: var(--dark-color);
	}
}

a {
	text-decoration: none;
	color: var(--dark-color);
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}
