.container {
	background-color: var(--primary-color);
	color: var(--light-color);
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;

	&:focus {
		outline: 2px solid var(--primary-color);
	}

	&:disabled {
		opacity: 0.5;
	}
}
